{% extends "site/base.html" %}
{% block title %}Contact | MAK CAKES{% endblock %}
{% block content %}
<main class="page">
  <section class="light-wrap">
    <div class="grid grid-2">
      <div>
        <h2>Contact Us</h2>
        <p class="lead">Phone: +1 (234) 567-8900<br>Email: support@makcakes.com<br>Address: 123 Bakery Street, Sweet City</p>
      </div>
      <div>
        <h2>Visit Us</h2>
        <div class="map-frame">
          <iframe title="Map" src="https://maps.google.com/maps?q=123+Bakery+Street,Sweet+City&t=&z=13&ie=UTF8&iwloc=&output=embed" width="100%" height="240" style="border:0;"></iframe>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}
